@model Fiap.Exmplo01.Web.MVC.Models.Funcionario    

@{
    ViewBag.Title = "Gravar";
}

<h2>Gravar</h2>
<h3>Dados do Cadastro [1]</h3>
<h3>@ViewBag.Nome</h3>
<h3>@ViewBag.Data</h3>
<h3>@ViewBag.Sal</h3>

<h4>Dados do Cadastro [2]</h4>
<h4>@Model.Nome</h4>
<h4>@Model.Data</h4>
<h4>@Model.Salario</h4>